:root {
  --color-background: #190000;
  --color-foreground: #ffdf9a;
  --color-black: #690000;
  --color-white: #ffdf9a;
  --color-red: #ff0d00;
  --color-blue: #3584af;
  --color-green: #639c00;
  --color-cyan: #00bc7f;
  --color-magenta: #d400a6;
}
