:root {
  --color-foreground: #fbf0c2;
  --color-background: #1f1728;
  --color-black: #445865;
  --color-white: #fbf0c2;
  --color-green: #009c85;
  --color-red: #d82744;
  --color-blue: #7393a9;
  --color-yellow: #ffb44c;
  --color-magenta: #b83cff;
  --color-cyan: #03dae5;
}
