:root {
  --color-foreground: #f8e9ab;
  --color-background: #1f1728;
  --color-black: #000000;
  --color-white: #fbf0c2;
  --color-green: #009c85;
  --color-red: #d82744;
  --color-blue: #7393a9;
  --color-yellow: #ffb44c;
  --color-magenta: #9470f6;
  --color-cyan: #03e5bf;
}
