:root {
  --color-background: #190000;
  --color-foreground: #fcd276;
  --color-black: #000000;
  --color-white: #e3cb98;
  --color-red: #ff0d00;
  --color-green: #639c00;
  --color-yellow: #ffae00;
  --color-blue: #3599af;
  --color-magenta: #d400a6;
  --color-cyan: #00bc7f;
}
