/**
 * name: Tropical Paradise
 * author: Sherman Rofeman (https://github.com/skippyr)
 * license: MIT
 * upstream: https://raw.githubusercontent.com/skippyr/tropical_paradise/main/stylesheets/tropical_paradise.scss
 */

$color-tropical-paradise-black: #140000;
$color-tropical-paradise-light-black: #978f63;

$color-tropical-paradise-dark-red: #c62b00;
$color-tropical-paradise-red: #ff0d00;
$color-tropical-paradise-light-red: #f57f79;

$color-tropical-paradise-dark-green: #4a7500;
$color-tropical-paradise-green: #77bc00;
$color-tropical-paradise-light-green: #d4f0a5;

$color-tropical-paradise-dark-yellow: #c77400;
$color-tropical-paradise-yellow: #ffae00;
$color-tropical-paradise-light-yellow: #fcd276;

$color-tropical-paradise-dark-blue: #007089;
$color-tropical-paradise-blue: #4eb7cc;
$color-tropical-paradise-light-blue: #93ccd9;

$color-tropical-paradise-dark-magenta: #bb43a1;
$color-tropical-paradise-magenta: #ff5bdb;
$color-tropical-paradise-light-magenta: #ffd5f6;

$color-tropical-paradise-dark-cyan: #009163;
$color-tropical-paradise-cyan: #02d5b5;
$color-tropical-paradise-light-cyan: #87e2c5;

$color-tropical-paradise-white: #beb79c;
$color-tropical-paradise-light-white: #fdebab;
