:root {
  --color-black: #140000;
  --color-black-light: #978f63;

  --color-white: #beb79c;
  --color-white-light: #fdebab;

  --color-red-dark: #c62b00;
  --color-red: #ff0d00;
  --color-red-light: #f57f79;

  --color-green-dark: #4a7500;
  --color-green: #77bc00;
  --color-green-light: #d4f0a5;

  --color-yellow-dark: #c77400;
  --color-yellow: #ffae00;
  --color-yellow-light: #fcd276;

  --color-blue-dark: #007089;
  --color-blue: #4eb7cc;
  --color-blue-light: #93ccd9;

  --color-magenta-dark: #bb43a1;
  --color-magenta: #ff5bdb;
  --color-magenta-light: #ffd5f6;

  --color-cyan-dark: #009163;
  --color-cyan: #02d5b5;
  --color-cyan-light: #87e2c5;
}
