:root {
  --color-background: #190000;
  --color-foreground: #fcd276;
  --color-black: #000000;
  --color-black-light: #636363;
  --color-white: #e3cb98;
  --color-red-light: #f57f79;
  --color-red: #ff0d00;
  --color-green-light: #d4f0a5;
  --color-green: #639c00;
  --color-yellow-light: #f5cf7e;
  --color-yellow: #ffae00;
  --color-blue-light: #93ccd9;
  --color-blue: #3599af;
  --color-magenta-light: #d696c9;
  --color-magenta: #d400a6;
  --color-cyan-light: #87e2c5;
  --color-cyan: #00bc7f;
}
